@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Figtree", sans-serif;
}

.section__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 13rem;
}

.title {
  position: relative;
  font-size: 4.5rem;
  font-weight: 500;
  -webkit-animation: title 0.8s ease-in-out 0.8s backwards;
          animation: title 0.8s ease-in-out 0.8s backwards;
}

.para {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 200;
  -webkit-animation: title 0.8s ease-in-out 1.6s backwards;
          animation: title 0.8s ease-in-out 1.6s backwards;
}

.span {
  border-bottom: 1px solid black;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional--info {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  -webkit-animation: span 0.6s ease-in-out 2s backwards;
          animation: span 0.6s ease-in-out 2s backwards;
}

.btn--light {
  background-color: #3f4043;
  font-size: 1.6rem;
  font-weight: 200;
  width: 26rem;
  height: 3.9rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-right: 1rem;
  -webkit-animation: btnLeft 0.6s ease-in-out 1.7s backwards;
          animation: btnLeft 0.6s ease-in-out 1.7s backwards;
}
@media (max-width: 56.25em) {
  .btn--light {
    width: 30rem;
  }
}

.btn--dark {
  background-color: rgba(234, 234, 234, 0.9);
  font-size: 1.6rem;
  font-weight: 200;
  width: 26rem;
  height: 3.9rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  margin-left: 1rem;
  -webkit-animation: btnRight 0.6s ease-in-out 1.7s backwards;
          animation: btnRight 0.6s ease-in-out 1.7s backwards;
}
@media (max-width: 56.25em) {
  .btn--dark {
    width: 30rem;
  }
}

.modelY__footer--btns {
  display: flex;
}
@media (max-width: 37.5em) {
  .modelY__footer--btns {
    flex-direction: column;
  }
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes span {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes span {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes btnLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btnLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes btnRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes btnRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.desktopNav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  top: -4rem;
}
@media (max-width: 56.25em) {
  .desktopNav {
    display: none;
  }
}
.desktopNav__products {
  display: flex;
  margin-left: 10rem;
  font-size: 1.5rem;
  list-style: none;
  font-weight: 500;
  color: #000;
}
.desktopNav__products > * {
  margin-left: 3.2rem;
}
.desktopNav__options {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  font-weight: 500;
  color: #000;
}
.desktopNav__options > * {
  margin-left: 3.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

.modelY {
  height: 100vh;
  background-image: url("../images/Tesla-Model-y-esterni.jpeg");
  background-position: center;
  background-size: cover;
}

.section__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 13rem;
}

.title {
  position: relative;
  font-size: 4.5rem;
  font-weight: 500;
}

.para {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 200;
}

.span {
  border-bottom: 1px solid black;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80vh;
}

.model3 {
  height: 100vh;
  background-image: url("../images/Tesla_Model_3_2021-01@2x.jpeg");
  background-position: center;
  background-size: cover;
}

.modelS {
  height: 100vh;
  background-image: url("../images/Homepage-Model-S-Desktop-RHD.jpeg");
  background-position: center;
  background-size: cover;
}

.Solar {
  height: 100vh;
  background-image: url("../images/_25-Hero-D.jpeg");
  background-position: center;
  background-size: cover;
}

.modelX {
  height: 100vh;
  background-image: url("../images/Homepage-Model-X-Desktop-RHD.jpeg");
  background-position: center;
  background-size: cover;
}

.accessories {
  background-color: #f8f8f8;
}/*# sourceMappingURL=base.css.map */