.btn--light {
  @include button(#3f4043);
  color: #fff;
  margin-right: 1rem;
  animation: btnLeft 0.6s ease-in-out 1.7s backwards;
}

.btn--dark {
  @include button(rgba(#eaeaea, 0.9));
  color: #000;
  margin-left: 1rem;
  animation: btnRight 0.6s ease-in-out 1.7s backwards;
}

.modelY__footer--btns {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }
}
