*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Figtree", sans-serif;
}

.section__header {
  @include DesktopHeader;
}

.title {
  @include DesktopTitle;
  animation: title 0.8s ease-in-out 0.8s backwards;
}

.para {
  @include DesktopPara;
  animation: title 0.8s ease-in-out 1.6s backwards;
}

.span {
  border-bottom: 1px solid black;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 75vh;

  @include respond(tab-port) {
    top: 80vh;
  }
}

.additional--info {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-style: italic;
  color: rgba(#000, 0.7);
  animation: span 0.6s ease-in-out 2s backwards;
}

.scroll--container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
