.modelY {
  @include DesktopDefault("../images/Tesla-Model-y-esterni.jpeg");

  &__header {
    @include DesktopHeader;
  }

  &__title {
    @include DesktopTitle;
  }

  &__para {
    @include DesktopPara;
  }

  &__span {
    border-bottom: 1px solid black;
  }

  &__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80vh;
  }
}
